.columDerecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 400px;
    height: 100vh;
    
}

/* Estilos para el acordeón */
.acordeonPag {
    width: 80%; /* Ancho del acordeón */
    max-width: 900%; /* Ancho máximo del acordeón */
    padding: 20px; /* Espaciado interno del acordeón */
    background-color: #f8f9fa; /* Color de fondo del acordeón */
    border: 1px solid #ccc; /* Borde del acordeón */
    
}


  
.textoFullStack{
    display: flex;
    margin-left: 7px;
    margin-bottom:12%;
    text-align: left;
    
}