.containerPag{
    background-color: rgb(5, 26, 58);
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 3fr; */
    margin-top: -30px;
    padding: 2px;
    width: 100%;
}


.banneryLogoPag {
    width: auto; /* Ancho del banner igual al ancho del contenedor */
    margin-left: 40%;
    max-width: 10%; /* Ancho máximo del banner igual al ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: inline-flex; /* Mostrar como bloque */
    margin-top: 20px; /* Margen superior de 20px */
    margin-bottom: 20px; /* Margen inferior de 20px */
  }

.columIzquierda{
    background-color: rgb(229, 231, 235);
    border: 10px solid rgb(28, 29, 30);
    padding: 16px;
    width: auto; /* Ancho del contenedor */
    height: 100%; /* Altura del contenedor */
    position: fixed; /* Fija la posición del contenedor */
    top: 0; /* Alinea el contenedor en la parte superior */
    left: 0; /* Alinea el contenedor a la izquierda */
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
}



.sesionPerfil{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px;
    width: 800 rem;
    background-color: #fff; /* Color de fondo para resaltar el contenido */

    
}

.perfilPhoto{
    width: 50px; /* Ancho de la foto de perfil */
    height: 40px; /* Altura de la foto de perfil */
    border-radius: 50%; /* Forma redondeada para la foto de perfil */
    margin-right: 16px; /* Espaciado a la derecha de la foto de perfil */
}

.textoPerfil{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-display: center;
  padding: auto;
  margin: auto;

}

.perfilInformacion{
    flex: 1; /* Ocupa el espacio restante en la fila */
}

.iconosTextos {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre cada icono y texto */
}

.iconosTextos svg {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.iconosTextos span {
  font-size: 16px; /* Tamaño de fuente del texto */
}


.divider{
    margin-top: 20px;
}


/* Clase menunavegacion */
.sesionDeNavegacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 40px;
  }

.textoVerde{
  color: green;
}
  
/* @media (max-width: 768px){
    .containerPag{
      display: flex;
    }
} */
  
